<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
		<li data-target="#carousel-example-generic" data-slide-to="4"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<%= image_tag "arequipa.jpg", html: {alt: "arequipa"} %>
      		<div class="carousel-caption">
      			<h2>5 planes en Arequipa y sus alrededores</h2>
      			<div class="carousel-caption-opacity">
					<p>Los encantos del sur de Per&uacute; son para muchos insospechables, ya que conjugan historia, arqueolog&iacute;a, aventura y naturaleza de una manera casi perfecta. Viajar a Arequipa es ideal para cualquier tipo de turista, ya que en la parte urbana cuenta…</p>
					<a href="#" class="btn btn-sm btn-primary">Learn More</a>
				</div>
			</div>
		</div>

		<div class="item">
      		<%= image_tag "playas.jpg", html: {alt: "playas"} %>
			<div class="carousel-caption">
				<h2>Tips de viaje para visitar Jamaica</h2>
				<div class="carousel-caption-opacity">	
					<p>Sin duda Jamaica nos trae a la mente las canciones de Bob Marley, icono m&aacute;ximo del reaggue. Sin embargo, esta ex&oacute;tica isla es más que música y deportes de aventura. Es un m&aacute;gico lugar que mezcla naturaleza, m&uacute;sica y arte…</p>
					<a href="#" class="btn btn-sm btn-primary">Learn More</a>
				</div>
			</div>
		</div>

		<div class="item">
      		<%= image_tag "colombia.jpg", html: {alt: "colombia"} %>
			<div class="carousel-caption">
				<h2>Ocho bellos lugares para conocer en Colombia y no perderte de nada</h2>
				<div class="carousel-caption-opacity">	
					<p>Colombia es uno de los destinos m&aacute;s visitados en Sudam&eacute;rica y ello por simples razones. Es un pa&iacute;s muy rico en cultura, gastronom&iacute;a y bellos paisajes. Es un destino ideal para conocer durante vacaciones, pues su gente es c&aacute;lida y…</p>
					<a href="#" class="btn btn-sm btn-primary">Learn More</a>
				</div>
			</div>
		</div>

		<div class="item">
			<%= image_tag "glaciares.jpg", html: {alt: "glaciares"} %>
      		<div class="carousel-caption">
				<h2>10 lugares que no debes perderte si visitas Argentina</h2>
				<div class="carousel-caption-opacity">	
					<p>Argentina es uno de los destinos tur&iacute;sticos m&aacute;s visitados en Am&eacute;rica del Sur y no es por simple capricho, pues es un pa&iacute;s que tiene mucho por ofrecer. Desde bellos escenarios naturales, lagos, montañas y nevados, hasta hermosas playas y una gastronomía…</p>
					<a href="#" class="btn btn-sm btn-primary">Learn More</a>
				</div>
			</div>
		</div>
		
		<div class="item">
			<%= image_tag "panama.jpg", html: {alt: "panama"} %>
      		<div class="carousel-caption">
				<h2>Panam&aacute; un destino de playas, compras y mucho m&aacute;s</h2>
				<div class="carousel-caption-opacity">	
					<p>Panam&aacute; es uno de los destinos turísticos m&aacute;s visitados en Centroam&eacute;rica, pues ofrece una gran variedad de actividades tur&iacute;sticas. En esta ciudad puedes encontrar playas paradis&iacute;acas, ir de compras en los centros comerciales m&aacute;s grandes del mundo y hasta probar…</p>
					<a href="#" class="btn btn-sm btn-primary">Learn More</a>
				</div>
			</div>
		</div>
	</div>	
	
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    	<span class="sr-only">Previous</span>
  	</a>

  	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    	<span class="sr-only">Next</span>
  	</a>
</div>
