<%= content_for :head do %>
	<div class="col-lg-9">
		<h1 class="text-primary">
			<strong>6 razones para pasar tus vacaciones en las Bahamas</strong>
		</h1>
	</div>
<% end %>

<%= content_for :intro do %>
	<div class="col-lg-9">
		<p>¿Quieres vivir unas vacaciones inolvidables en el Caribe? Aquí te dejamos 6 buenas razones por las cuales debes viajar a Bahamas.</p>
	</div>
<% end %>

<div class="col-lg-9">
	
	<%= image_tag "bahamas1.jpg", class: "img-small-view", html: {alt: "bahamas1"} %>
	<p></p>
	<p class="text-justify">Si quieres desconectarte de la ciudad y pasar un momento de ensueño en un paraíso tropical, no puedes dejar de viajar a Bahamas. Este famoso archipiélago es visitado todos los años por miles de turistas, quienes quedan fascinados por sus bellos paisajes naturales. Si estás buscando un destino caribeño para pasar las vacaciones, no dejes de leer estos 6 motivos por los cuales debes visitar Bahamas.</p>

	<h3 class="text-primary"><strong> El legado colonial de Nasáu</strong></h3>
	<p class="text-justify">CNasáu fue originalmente bautizada Charles Town, en honor al rey Carlos III de Inglaterra. Sin embargo, debido a que los piratas la utilizaban como escondite, fue destruida y reconstruida en numerosas ocasiones. Debido a la ocupación británica y española, Nasáu cuenta con bellos edificios que son el legado de la arquitectura colonial. Destacan las villas victorianas, las iglesias y fortalezas.</p>

	<h3 class="text-primary"><strong>Sus playas</strong> </h3>
	<p class="text-justify">En Bahamas pueden encontrarse algunas de las playas más bellas de la región del Caribe. Debido a sus aguas cristalinas, son perfectas para la práctica del buceo.</p>
	
	<%= image_tag "bahamas2.jpg", class: "img-small-view", html: {alt: "bahamas2"} %>

	<h3 class="text-primary"><strong>Pesca</strong> </h3>
	<p class="text-justify">Bahamas es hogar de habilidosos pescadores que todos los años sorprenden a los turistas en los torneos de pesca. Además, la isla de Andros es considerada la capital mundial de la pesca del pez ratón.</p>
	
	<%= image_tag "bahamas3.jpg",  class: "img-small-view", html: {alt: "bahamas3"}%>
</div>