<%= content_for :head do %>
	<div class="col-lg-12">
		<h1 class="text-primary">
			<strong>Los 4 mejores destinos del mundo para ir de compras.</strong>
		</h1>
	</div>
<% end %>

<%= content_for :intro do %>
	<div class="col-lg-12">
		<p>¿Quieres ir de compras? Conoce cuáles son los mejores destinos para adquirir productos de moda y tecnología.</p> 
		<p>No hay nada más reconfortante que salir de viaje con las maletas vacías y traerlas llenas. Si tu objetivo es conseguir los últimos productos de moda y tecnología, te recomendamos visitar estos destinos.</p>
	</div>
<% end %>

<div class="col-lg-12">	
	<div class="col-md-6">
		<%= image_tag "york.jpg", class: "img-col6-view", html: {alt: "york"} %>	
		<h3 class="text-danger"><strong>Nueva York</strong></h3>
		<p class="text-justify">Si estás buscando marcas de diseñadores, Nueva York es el lugar al que debes ir. En la ciudad de los rascacielos puedes encontrar productos de Versace, Calvin Klein o Marc Jacobs con descuentos de hasta el 70%.</p>
	</div>
	<div class="col-md-6">
		<%= image_tag "madrid.jpg", class: "img-col6-view", html: {alt: "madrid"} %>
		<h3 class="text-danger"><strong>Madrid</strong></h3>
		<p class="text-justify">En Madrid puedes encontrar artículos de lujo a muy buen precio. Algunos de los mejores productos que puedes comprar son capas de lana y terciopelo de algodón, abanicos, paraguas, peinetas ornamentales y hermosas castañuelas. </p>
	</div>
	<div class="col-md-6">
		<%= image_tag "paris.jpg", class: "img-col6-view", html: {alt: "paris"} %>
		<h3 class="text-danger"><strong>Paris</strong></h3>
		<p class="text-justify">En París se respira arte en cada calle y, por supuesto, cada tienda. Puedes encontrar hermosos productos de decoración, moda de alta costura, mueblería fina y mucho más.</p>
	</div>
	<div class="col-md-6">
		<%= image_tag "londres.jpg", class: "img-col6-view", html: {alt: "londres"} %>
		<h3 class="text-danger"><strong>Londres</strong></h3>
		<p class="text-justify">Según el Globe Shopper Index, Londres es una de las mejores ciudades europeas para ir de compras. Aunque los precios no son tan bajos como en otros países, si cuenta con una gran cantidad de tiendas de mucha calidad.</p>
	</div>
</div>







